*{margin: 0; padding: 0;} 
body,html{
	width: 100%;
	height: 100%;
}
.navbar.navbar-light.bg-faded.navbar-fixed-top{
	background-color: white;
	line-height: 100px;
	height: 100px;
}
.khoitt1{
	background-color: #e9585f;
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 1;
}
.khoitt1:before{
	content: "";
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50%;
	height: 100%;
	background-color: #e4555b;
}
a.navbar-brand{
	padding: 0px;
}
.tt{
	padding-top: 15%;
	position: relative;
	z-index: 2;
}
.tt img{
	width: 145px;
	height: 145px;
	border-radius: 50%;
}
.tt h2{
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	margin-bottom: 22px;
	margin-top: 20px;
}
.tt p{
	color: black;
	line-height: 30px;
	font-size: 16px;
	width: 50%;
	margin:auto;
	margin-bottom: 34px;
}
.tt a.nuthire{
	width: 180px;
	color: white;
	background: black;
	border-radius: 0px;
	border-color: black;
}
.tieudecap3{
	color: #e35855;
}
.tieudeto{
	margin-top: 120px;
	margin-bottom: 70px;
	border-bottom: 5px solid darkred;
}
.tieudeto h1{
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 20px;
}
.tieudecap2{
	font-family: segoe ui light;
	text-transform: uppercase;
	font-size: 18px;
	margin-bottom: 40px;
}
.khoittnho h3.tieudecap3{
	font-size: 16px;
	margin-bottom: 20px;
}
span.motapt{
	font-size: 18px;
	margin-bottom: 26px;
	display: block;
}
.khoittnho p{
	font-size: 16px;
	line-height: 21px;
	color: gray;
}
.khoittnho{
	margin-bottom: 55px;
}
.cot2_3{
	padding-top: 100px;
}
.nutxuong{
	width: 40px;
	height: 75px;
	border: white solid 1px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 40px;
	z-index: 2;
	cursor: pointer;
	transition: 0.4s;
	bottom: 2%;
}
.nutxuong:hover{
	bottom: 4%;
}
.nutxuong:before{
	content: "";
	position:absolute;
	width: 3px;
	height: 8px;
	background-color: white;
	left: 50%;
	transform: translateX(-50%);
	bottom: 67%;
}
